[Unit]
Description=Fritzbox Bandwith Monitor Container
Documentation=https://github.com/thkukuk/fritzbox-monitoring/fritzbox-bandwidth-monitor/README.md
After=network-online.target local-fs.target
Wants=network-online.target

[Service]
Restart=on-failure
EnvironmentFile=/usr/etc/default/container-fritzbox-bandwidth-monitor
EnvironmentFile=-/etc/default/container-fritzbox-bandwidth-monitor
ExecStartPre=-/usr/bin/podman stop fritzbox-bandwidth-monitor
ExecStartPre=-/usr/bin/podman rm fritzbox-bandwidth-monitor
ExecStartPre=-/usr/bin/podman pull ${FRITZBOX_BANDWITH_MONITOR_IMAGE_PATH}
ExecStart=/usr/bin/podman run -d --conmon-pidfile /%t/%n-pid --rm -v ${HTML_DIR}:/srv/www/htdocs:z -e -MAX_DOWNLOAD_BYTES=${MAX_DOWNLOAD_BYTES} -e MAX_UPLOAD_BYTES=${MAX_UPLOAD_BYTES} -e FRITZBOX_NR=${FRITZBOX_NR} -e FRITZBOX=${FRITZBOX} -e POLL_INTERVALL=${POLL_INTERVALL} -e RUN_NGINX=${RUN_NGINX} --name fritzbox-bandwidth-monitor ${FRITZBOX_BANDWITH_MONITOR_IMAGE_PATH}
ExecStop=/usr/bin/podman stop fritzbox-bandwidth-monitor
KillMode=none
Type=forking
PIDFile=/%t/%n-pid

[Install]
WantedBy=multi-user.target
